body{
  background-color: #FF6B6B;
  font-family:'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
th{
  color: #FF6363;
}
table{
  padding: 2%;
  color: #30AADD;
}
h1{
  color: #533E85;
}
h2
{
  text-align: center;
  color: #3B14A7;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
h3{
  padding-bottom: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
h4
{
  color: #B9F8D3;
  font-style: bold;
  margin-top: 2%;
  font-weight: 700;
}
a{
  color: white;
}
img{
  width: 30%;
}
.intro-div
{
 line-height: 2.5;
 width: 60%;
 padding:7% 5% 2% 5%;
 font-size: 1.4rem;
 color: #FFEEEE;
 float: left;
 margin-right: 5%;
 margin-bottom: 5%;
}
#Skillset{
  background-color: #E4D1B9;
  color: #FF4848;
  font-size: 1.5rem;
  text-align: center;
  overflow: auto;
  padding:1% 3%;
  margin-top: 3%;
  margin-left: 4%;
}
.progress{
  margin-bottom: 3%;
  margin-left: 3%;
}
.skills{
  width: 70%;
  margin-top: 0;
}
.row{
  margin: 4% 0; 
}
  /* Extracurriculars */
  .extra-container{
    padding: 2%;
    font-size: 1.4rem;
  }
  .extra-skills
  {
    display: flex;
    justify-content: center;
  }

/* Education-section */
.studies{
  background-color: #dbd2c8;
  font-size: 1.5rem;
  text-align: center;
  padding: 3%;
  margin-right: 0;
}
#Projects{
  padding:2%;
  font-size: 1.4rem;
}
